.Works__menu {
  @include clearfix;
  padding: 0;
  text-align: center;
  margin-bottom: 8%;
  li {
    width: 33.3333%;
    float: left;
    & img {
      border-radius: 50%;
      width: 75%;
      height: auto;
      border: 2px solid rgba(71, 71, 71, 0.8);
      display: inline-block;
      filter: blur(1.2px);
      &:hover {
        filter: none;
      }
    }
  }
  %buttonBase {
    text-decoration: none;
    display: block;
    position: absolute;
    z-index: 100;
    color: #fff;
    background-color: #ffde56;
    border: 3px solid #ffde56;
    border-radius: 10px;
    font-weight: 900;
    font-size: 16px;
    padding: 10px 40px;
    text-align: center;
  }
  .button1 {
    @extend %buttonBase;
    top: 1035px;
    left: 150px;
  }
  .button2 {
    @extend %buttonBase;
    top: 1035px;
    left: 570px;
  }
  .button3 {
    @extend %buttonBase;
    top: 1035px;
    right: 150px;
  }
}
