.Nav {
  font-size: 20px;
  @include clearfix;
  .Menu {
    padding: 0 0 25px;
    text-align: center;
    border-bottom: 1px solid $color-main-text;
    & li {
      float: left;
      width: 33.3333%;
    }
  }
}
