.submenu {
  padding: 0;
  li {
    float: left;
    margin: 0 5px;
    padding: 3px 12px;
    border: 1px solid $color-main-text;
    border-radius: 5px;
    font-size: 12px;
  }
  &__item {
    display: block;
    text-transform: uppercase;
  }
}
